# Unit 6 - What's the Weather Like?

In this example, you'll be creating a Python script to visualize the weather of 500+ cities across the world of varying distance from the equator. To accomplish this, you'll be utilizing a simple Python library, the OpenWeatherMap API, and a little common sense to create a representative model of weather across world cities.
Your objective is to build a series of scatter plots to showcase the following relationships:
* Temperature (F) vs. Latitude
* Humidity (%) vs. Latitude
* Cloudiness (%) vs. Latitude
* Wind Speed (mph) vs. Latitude

In [21]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from citipy import citipy
from pprint import pprint
from config import api_key

In [22]:
# import coordinates
coordinates = pd.read_excel('lat_long_generator.xlsx', sheetname='Sheet1', header=None)
coordinates = coordinates.rename(columns={0:'Latitude', 1:'Longitude'})

In [27]:
# find closest city
coordinates["City"] = ""

for index,row in coordinates.iterrows():
    city = citipy.nearest_city(row["Latitude"],row["Longitude"])
    coordinates.set_value(index,"City",city.city_name)
coordinates.head()

    Latitude   Longitude       City
0  42.830584  -26.803640      lagoa
1  -5.745134 -146.807879     atuona
2 -49.291376   92.536958  busselton
3 -30.682879  -87.864536       lebu
4 -68.537831  100.463693     albany

In [28]:
# # look for null values from random sample
# null_values = coordinates.loc[(coordinates['City']=='NaN'), :]